.dockerignore
.DS_Store
.editorconfig
.env
.env.sample
.git
.githooks
.gitignore
.golangci.yml
.vscode
AGENTS.md
dev
docker-compose.yml
Dockerfile
docs
Makefile
packages.alpine
packages.ubuntu
README.md
SPECS.md
tmp
