DEBUG=true
DATABASE_DRIVER=sqlite
INFLUX_DATABASE=foobar
INFLUX_PASSWORD=foobar
INFLUX_URL=localhost
INFLUX_USERNAME=foobar
LOG_LEVEL=debug
LOKI_HOST=localhost
MQTT_HOST=localhost
MQTT_PASSWORD=foobar
MQTT_PORT=1883
MQTT_USERNAME=foobar
POSTGRES_DSN=postgres://sensors:sensors@localhost:5432/sensors?sslmode=disable
SENSOR_COLLECTION_DELTA=10s
MQTT_PUBLISH_DELTA=15s
POSTGRES_PUBLISH_DELTA=1m
INFLUXDB_PUBLISH_DELTA=1m
PUBLISH_BATCH_SIZE=100
SQLITE_FLUSH_BATCH=10
SQLITE_PATH=./data.db
SYSLOG_HOST=localhost
WORKER_DELTA=5m
