DEBUG=false
INFLUX_DATABASE=test
INFLUX_URL=192.168.0.3
INFLUX_PASSWORD=myuser
INFLUX_USERNAME=mypw
LOG_LEVEL=info
MQTT_HOST=192.168.0.1
MQTT_PASSWORD=mypw
MQTT_USERNAME=myuser
SYSTEM_HOST=192.168.0.2
SYSTEM_USER=myuser
WORKER_DELTA=60s
