DEBUG=false
INFLUXDB_DATABASE=test
INFLUXDB_HOST=192.168.0.3
INFLUXDB_PASSWORD=myuser
INFLUXDB_TOKEN=mytoken
INFLUXDB_USER=mypw
LOG_LEVEL=info
MQTT_HOST=192.168.0.1
MQTT_PASSWORD=mypw
MQTT_USER=myuser
RPI_HOST=192.168.0.2
RPI_USER=myuser
WORKER_DELTA=60s
