[Service]
ExecStart=/usr/local/sensor-publisher-go/console_arm
WorkingDirectory=/usr/local/sensor-publisher-go
Restart=always
StandardOutput=journal+console
StandardError=journal+console
SyslogIdentifier=sensor_publisher_go_service

[Install]
WantedBy=multi-user.target
