INFLUX_DATABASE=foobar
INFLUX_PASSWORD=foobar
INFLUX_URL=localhost
INFLUX_USERNAME=foobar
LOKI_HOST=localhost
MQTT_HOST=localhost
MQTT_PASSWORD=foobar
MQTT_PORT=1883
MQTT_USERNAME=foobar
SQLITE_FLUSH_BATCH=100
SQLITE_PATH=./queue.db
WORKER_DELTA=300
