INFLUX_DATABASE=weather
# INFLUX_PASSWORD=foobar
INFLUX_URL=localhost
LOG_FILEPATH=/var/log/sensors-publisher-go.log
# INFLUX_USERNAME=foobar
LOKI_HOST=localhost
MQTT_HOST=localhost
MQTT_PASSWORD=foobar
MQTT_PORT=1883
MQTT_USERNAME=foobar